* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: #2C3952;
}

section {
    padding: 90px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}