* {
    box-sizing: border-box;
}

body {
    color: #2C3952;
}

section {
    padding: 120px 0;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.container {
    max-width: 1440px;
}